body {
    background-color: #fcf8e8;
}
h1 {
    color: #df7861;
}
.btn-outline-primary {
    color: #df7861!important;
    border-color: #df7861!important;
}
.btn-outline-primary:hover {
    background-color: #ecdfc8;
}
.task {
    float: left;
}
.check {
    height: 70%;
}