
{% extends 'base.html' %}
{% block content %}
{% if error %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  {{error}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>          
{% endif %}

<div class="card shadow-lg p-3 mb-5 bg-white rounded mx-auto" style="padding: 5px; margin-top:90px;">
    
    <h2 class="mb-1" style="color: #df7861">{{ show }}</h2>
    {% if all %}
        <a name='all' class="mb-3" href=' {% url 'tasks' %} '><small>Show only tasks for today</small></a>
    {% else %}
        <a class="mb-3" href=' {% url 'show_all_tasks' %} '><small>Show all tasks</small></a>
    {% endif %} 

        {% for task in tasks %}
            <form id='{{ task.id }}' method='POST' action="{% url 'mark_as_done'%}" enctype="multipart/form-data">
                {% csrf_token %}
                <div>
                    <input type="hidden" value="{{task.id}}" name = "id_checked">
                </div>
            </form>
            
            <form action="{% url 'delete_task'%}" method='POST' enctype="multipart/form-data">
                {% csrf_token %}
                <div class="allign row">
                    <div class="col-1">
                        <input class="mx-3 mt-1" onChange="document.getElementById('{{task.id}}').submit()" type="checkbox" {% if task.is_done %}checked{% endif %}>
                    </div>
                    <div class="col-8 col-md-9 col-lg-10">
                        <p>{{task}}</p>
                        {% if all %}
                        <input type="hidden" value="all" name = "all">
                        <p><small>{{task.date}}</small></p>
                        {% endif %}
                    </div>
                    <div class="col-1 ">
                        <input type="hidden" value="{{task.id}}" name = "id">
                        <button type="submit" class="m-auto input-group-append btn btn-danger "><span aria-hidden="true">&times;</span></button>
                    </div>
                    
                </div>
                
            </form>
            <hr>
                
            
        {% endfor %}
    <!-- Button trigger modal -->
    <button type="button" class="mt-4 btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal">
        Add Task
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Task</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!--Add task-->
            <div class="modal-body">

                <form method='POST' action="{% url 'tasks' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control form-control-sm" id="title" aria-describedby="emailHelp" placeholder="What you need to do?" name = "title">
                </div>
                <div class="form-group">
                    <label for="date">Date</label>
                    <input type="hidden" value="all" name = "all">
                    <input value="{{date}}" type="date" class="form-control form-control-sm" name='date'>
                </div>
                
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-warning">Add</button>
            </div>
            </form>
        </div>
    </div>
    </div>
</div>






{% endblock%}

